$primary: #0d1033;
$primary-dark: #0b0d2c;
$primary-light: #44486d;
$accent: #ffffad;

$cubic-nikitosa: cubic-bezier(0.25, 0.1, 0.25, 1);
$trans-fast: 0.15s $cubic-nikitosa;
$trans: 0.3s $cubic-nikitosa;
$trans-semi-slow: 0.45s $cubic-nikitosa;
$trans-slow: 0.6s $cubic-nikitosa;
