.form {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    height: fit-content;

    :global {
        .ant-card-body {
            padding: 4px 16px 16px;
        }
    }
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.longTab {
    span {
        color: rgba(81, 208, 81, 0.8)!important;
        font-weight: 600;
    }
}

.shortTab {
    span {
        color: rgba(223, 52, 52, 0.8)!important;
        font-weight: 600;
    }
}

.bigInput {
    width: 100%;

    input {
        min-height: 44px;
        font-size: 20px!important;
    }
}

.leverage {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        margin: 0;
    }
}

.slider {
    flex-grow: 1;
}

.smallInput {
    width: 70px;
}

.slippage {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        margin: 0;
    }
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        margin: 0;
    }

    .value {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
    }
}

.tabs {
    :global {
        .ant-tabs-nav {
            margin: 0;
        }
    }
}

.balance {
    display: block;
    margin: 4px 0 0;
}

.stats {
    margin: 16px 0 0;
    padding: 0 16px;

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
