.chart {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

.container {
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #d9dadb;

    &.dark {
        background: rgb(42, 46, 57);
        box-shadow: inset 0 0 0 1px #363a45;
    }
}
