.root {
    display: flex;
    align-items: center;
    grid-gap: 4px;
    font-size: 12px;
    line-height: 16px;
}

.long {
    color: #0DB679;
}

.short {
    color: #CD2A51;
}

.x {
    color: rgba(255, 255, 255, 0.48);
}
