.title {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 0 8px;
    color: #fff;
}

.data {
    grid-gap: 4px !important;
    font-size: 12px;
    line-height: 16px;
}

.muted {
    color: rgba(255, 255, 255, 0.48);
}
