.earn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
}

.form {
    min-width: 420px;
}

.input {
    margin: 0 0 16px;
}

.info {
    margin: 0 0 16px;
}
