.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 6px;
    padding: 4px 0;
    min-width: 36px;
    color: rgba(255, 255, 255, 0.48);

}

.darkBtn {
    svg {
        color: rgba(255, 255, 255, 0.48);
    }

    &:hover svg {
        color: rgb(255, 255, 255);
    }
}

.lightBtn {
    svg {
        color: rgba(0, 0, 0, 0.48);
    }

    &:hover svg {
        color: rgb(0, 0, 0);
    }
}

.closeWrap {
    display: flex;
    justify-content: center;
    min-width: 24px;
}
